/* font */
@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Italic.woff2') format('woff2'),
        url('NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-BoldItalic.woff2') format('woff2'),
        url('NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans.woff2') format('woff2'),
        url('NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Bold.woff2') format('woff2'),
        url('NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  /*Noto Sans Traditional Chinese*/
  @font-face {
    font-family: 'NotoSansTC-Regular';
    src: url('assets/fonts/NotoSansTC/NotoSansTC-Regular-Alphabetic.woff2') format('woff2'),
        url('assets/fonts/NotoSansTC/NotoSansTC-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *{
    font-family: 'Noto Sans';
    font-size: 20px;
  }

  /* main style sheet */
body{
    margin:0;
    padding: 0;
    display: flex;
}

ul{
  list-style: none;
}

a{
  color: black;
}

a:hover{
  color: rgb(71, 71, 71);
}

div#text-bar{
  width: 100vw;
  padding-left:5vw;
  padding-top: 5vh;
  
}

p.chinese{
  font-family: 'NotoSansTC-Regular';
  font-size: 30px;
}

img{
  width: 50vw;
}